In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium

In [36]:
df = pd.read_csv('data_science_topics_survey.csv')
df.head()

,Timestamp,What's your level of interest for the following areas of Data Science? [Data Visualization],What's your level of interest for the following areas of Data Science? [Machine Learning],What's your level of interest for the following areas of Data Science? [Data Analysis / Statistics],What's your level of interest for the following areas of Data Science? [Big Data (Spark / Hadoop)],What's your level of interest for the following areas of Data Science? [Data Journalism],What's your level of interest for the following areas of Data Science? [Deep Learning]
0,2017/10/17 1:11:52 PM MDT,Very interested,Very interested,Somewhat interested,Not interested,Somewhat interested,Somewhat interested
1,2017/10/17 2:26:07 PM MDT,Very interested,Very interested,Very interested,Somewhat interested,Not interested,Very interested
2,2017/10/17 2:37:08 PM MDT,Not interested,Very interested,Somewhat interested,Very interested,Not interested,Very interested
3,2017/10/17 2:39:26 PM MDT,Very interested,Very interested,Very interested,Very interested,Somewhat interested,Very interested
4,2017/10/17 2:43:59 PM MDT,Somewhat interested,Very interested,Very interested,Very interested,Not interested,Somewhat interested

In [37]:
# renaming Column
df.rename(columns = {"What's your level of interest for the following areas of Data Science? [Data Visualization]": 'Data Visualization',
                     "What's your level of interest for the following areas of Data Science? [Machine Learning]":'Machine Learning',
                     "What's your level of interest for the following areas of Data Science? [Data Analysis / Statistics]":'Data Analysis / Statistics',
                     "What's your level of interest for the following areas of Data Science? [Big Data (Spark / Hadoop)]":'Big Data (Spark / Hadoop',
                     "What's your level of interest for the following areas of Data Science? [Data Journalism]":'Data Journalism',
                     "What's your level of interest for the following areas of Data Science? [Deep Learning]":'Deep Learning'}, inplace=True)

In [38]:
df.drop(['Timestamp'],axis=1, inplace=True)
df.head()

,Data Visualization,Machine Learning,Data Analysis / Statistics,Big Data (Spark / Hadoop,Data Journalism,Deep Learning
0,Very interested,Very interested,Somewhat interested,Not interested,Somewhat interested,Somewhat interested
1,Very interested,Very interested,Very interested,Somewhat interested,Not interested,Very interested
2,Not interested,Very interested,Somewhat interested,Very interested,Not interested,Very interested
3,Very interested,Very interested,Very interested,Very interested,Somewhat interested,Very interested
4,Somewhat interested,Very interested,Very interested,Very interested,Not interested,Somewhat interested

In [41]:
df = df.apply(pd.value_counts)

In [42]:
df

,Data Visualization,Machine Learning,Data Analysis / Statistics,Big Data (Spark / Hadoop,Data Journalism,Deep Learning
Not interested,102,74,60,127,610,136
Somewhat interested,734,477,444,729,1081,770
Very interested,1340,1629,1688,1332,429,1263

In [43]:
df = df.transpose()

In [44]:
df

,Not interested,Somewhat interested,Very interested
Data Visualization,102,734,1340
Machine Learning,74,477,1629
Data Analysis / Statistics,60,444,1688
Big Data (Spark / Hadoop,127,729,1332
Data Journalism,610,1081,429
Deep Learning,136,770,1263

In [47]:
df.sort_index(inplace=True, ascending=True)

In [48]:
df

,Not interested,Somewhat interested,Very interested
Big Data (Spark / Hadoop,127,729,1332
Data Analysis / Statistics,60,444,1688
Data Journalism,610,1081,429
Data Visualization,102,734,1340
Deep Learning,136,770,1263
Machine Learning,74,477,1629